/.idea
/proxy/logs/*
/proxy/hosts/*.conf
/certbot/logs/*
/certbot/conf/root/rootSSL.*
/certbot/conf/root/domainCertificateConfig.cfg
/certbot/conf/keys/*
/certbot/conf/csr/*
/certbot/conf/live/*
/certbot/conf/accounts/*
/certbot/conf/ssl-dhparams.pem
/certbot/conf/root/authDomainCertificateConfig.cfg
